<nav>
  <div>
    <mat-toolbar color="primary">
      <span> Welcome to MoviExplorer! </span>

      <div class="title-center">
        <a mat-flat-button
          color="primary"
          routerLink="/"
          routerLinkActive="active">
          <mat-icon>home</mat-icon>
          Home
        </a>

        <a mat-flat-button
          color="primary"
          routerLink="/search"
          routerLinkActive="active">
          <mat-icon>search</mat-icon>
          Search
        </a>

        <a mat-flat-button
          color="primary"
          routerLink="/watchlist"
          routerLinkActive="active">
          <mat-icon>bookmark</mat-icon>
          Watchlist
        </a>

        <a mat-flat-button
          color="primary"
          routerLink="/viewed-movies"
          routerLinkActive="active">
          <mat-icon>movie</mat-icon>
          Viewed movies
        </a>

        <a mat-flat-button
          color="primary"
          routerLink="/statistics"
          routerLinkActive="active">
          <mat-icon>timeline</mat-icon>
          Your statistics
        </a>
      </div>
    </mat-toolbar>
  </div>
</nav>

<router-outlet></router-outlet>
